@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    background-color:#f5f5f5;
    overflow-x: hidden;
    position: static;
    margin-top: 100px;
} 

.fa-solid{
    z-index: 1;
    color: #13103e;
    font-size: 18px;
}  


.home{
    overflow: hidden;
}

/* main heading */
.main-heading {
    background-color: #ADD8E6;
    color: #13103e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30%
}

.object_form {
    animation: floater 4s linear 0ms infinite;
}

.object_folder {
    animation: floater 4s linear 0ms reverse infinite;
}

.object_folder img, .object_form img {
    max-width: 100px;
}

.main-heading h1 {
    text-align: center;
    white-space: nowrap;
}

@keyframes floater {
    from {
        transform: translateY(0);
    }
    25% {
        transform: translateY(8px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-8px);
    }
    to {
        transform: translateY(0);
    }
}

@media screen and (min-width:500px) {
    .main-heading h1 {
        margin: 0 20px;
    }
}

/* hero */
.hero {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
}

/* get in touch */
.get-in-touch {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset;
    margin: 20px;
    box-shadow: inset 2px 2px 2px rgba(0 , 0, 0, 0.3);
    max-width: fit-content;
    background: rgba(255, 255, 255, 0.212);
}

.get-in-touch h1, p {
    margin: 3px;
}

/* contact info */
.contact-info {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 10px;
}

.contact-info .info-box {
    background-color: #13103ee8;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    transition: transform 0.3s ease-in 0ms;
    box-shadow: 1px 1px 3px rgba(0 , 0, 0, 0.5);
    max-height: fit-content;
    min-height: 181px;
}

.contact-info .info-box h3{
    color: white;
}

.contact-info .info-box .icon-container {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #29445F;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    box-shadow: inset -2px -2px 3px rgba(0 , 0, 0, 0.3);
    padding: 3px 10px;
}

.contact-info i {
    transform: scaleX(-1);
}

.info-box:hover #phone-icon{
    animation: phone-vibrater .8s linear 1 both;
}

.contact-info .info-box:hover i {
    animation: vibrater 0.8s linear 1 both;
}

.contact-info .info-box:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 8px rgba(0 , 0, 0, 0.5);
}

.contact-info .info-box p {
    margin: 0;
}

@media screen and (min-width:923px) {
    .info-box {
        margin-left: 10px;
    }
}
@media (max-width: 600px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 850px) {
    .contact-info {
        grid-template-columns: 1fr;
    }
}

/* form */
.form-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-heading i {
    margin-right: 10px;
    margin-top: 4px;
}

.form-container:hover i{
    animation: vibrater 1.5s ease-out infinite;
}

.form-section {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0 , 0, 0, 0.3);
    width: fit-content;
    justify-content: center;
    transform: translateX(-50%);
    margin-left: 50%;
    min-width: 60rem;
}

.form-img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.form-img img{
    height: 40rem;
    width: auto;
    border-radius: 0 8px 8px 0;
    box-shadow: 4px 7px 7px 0px rgba(0, 0, 0, 0.1);
}

.form-container {
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    padding-right: 10px;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

@media screen and (max-width:500px) {
    .form-container {
        padding: 0px;
        padding-top: 20px;
    }
    form {
        margin: 0 0;
    }
    .form-section {
        overflow-x: hidden;
    }
}

.form-container h2 {
    margin-bottom: 12px;
    text-align: center;
}

.form-attribute {
    position: relative;
    margin: 30px 15px;
}

#char-count {
    right: 21px;
    font-size: 14px;
    color: #555;
    position: absolute;
}

textarea {
    resize: vertical;
}

input, textarea {
    width: calc(100% - 22px);
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    border: none;
    background-color: #f0f0f0;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 2px rgba(0 , 0, 0, 0.3);
}

#query-box {
    margin-bottom: 5px;
}

textarea {
    min-height: 200px;
}
input:focus, textarea:focus {
    background-color: rgba(65, 105, 225, 0.137);
    box-shadow: 2px 2px 2px rgba(0 , 0, 0, 0.3);
}

.form-container label {

    position: absolute;
    top:-2px;
    left: 10px;
    color: #666555;
    transform: translateY(-50%);
    pointer-events: none;
    padding: 0 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0 , 0, 0, 0.3);
}

.submit {
    background-color: #345783;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    width: 110px;
    margin-left: 15px;
    margin-bottom: 25px;
}

.submit:hover {
    cursor: pointer;
    background-color: #4A6D99;
}

.submit:active {
    cursor: pointer;
    background-color: #4a6e99da;
}

@media screen and (max-width: 923px) {
    .form-section {
        min-width: 90%;
        padding: 0;
        border-radius: 8px;
        box-shadow: 2px 2px 5px rgba(0 , 0, 0, 0.3);
    }
    .form-img {
        display: none;
    }
}

/* follow us */
.follow-us_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
    padding: 10px;
    border-radius: 12px;
    position: absolute;
    bottom: 10%;
}

.follow-us_container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -2px -2px 2px rgba(0 , 0, 0, 0.3);
    max-width: fit-content;
    align-items: center;
    border-radius: 17px;
    padding: 3px 10px;
    background-color: #f5f5f5;
}

.follow-us_container i {
    margin: 10px 12px;
    font-size: 25px;
    cursor: pointer;
    padding: 6px;
    border-radius: 12.5px;
}

.follow-us_container i:hover {
    box-shadow: 0 0 7px rgba(0 , 0, 0, 0.3);
}

.follow-us_section h2 {
    text-align: center;
    color: white;
}

.follow-us_section_respo {
    transform: translateX(-50%);
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2.5rem;
    width: fit-content;
}

.follow-us_section_respo h2 {
    margin: 0;
}

@media screen and (min-width:923px) {
    .follow-us_section_respo {
        display: none;
    }
    .faq {
        min-height: 30rem;
    }
}

/* visit us */
.visit-us {
    display: flex;
    flex-direction: column;
    background-color: #13103e;
    color: white;
    transition: transform 3s;
}

.visit-us i {
    font-size: 2.5em;
    margin-right: 10px;
}

@keyframes vibrater {
    from {
        transform: rotate(0deg) scaleX(-1);
    }
    33% {
        transform: rotate(-30deg);
    }
    66% {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes phone-vibrater {
    from {
        transform: rotate(0deg) scaleX(-1);
    }
    33% {
        transform: rotate(-30deg);
    }
    66% {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(0deg) scaleX(-1);
    }
}

.visit-us p {
    text-align: center;
    margin: 10px;
}

.map {
    margin: 20px;
}

.map iframe {
    border-radius: 15px;
    border: 2px solid rgba(0 , 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0 , 0, 0, 0.9);
}

.visit-us:hover .material-symbols-outlined {
    animation: vibrater 1.5s ease-in-out infinite;
}

.map-heading {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}