*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "poppins";

}
.home{
    overflow: hidden;
}
.nav{
    background-color: #ffff;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around; 
    text-align: center;
    margin: 0px auto;
    box-shadow: 0px 0px 5px rgba(100, 98, 98, 0.356);
}
.navbar{
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    list-style: none;


}
.navlinks a{
    color: #14013c;
    margin: 0px 30px;
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.logo img{
    width: 340px;
    height: 100px;
}
.catalogue{
    display: flex;
    align-items: center;
    text-align: center;
}

.catalogue_btn{
    background-color: #14013cb7;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

/* home content */

.main_container{
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(rgba(5, 1, 22, 0.836),rgba(5, 1, 15, 0.692));
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.background_video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .background_video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .background_video{
        width: auto;
        height: 100%;    
    }
}

.company_name{
    color: royalblue;
    font-size: 35px;
}
.home_h1{
    text-align: left;
    margin-top: 30vh;
    width: 85vw;
    font-size: 43px;
    line-height: 4rem;
    color: white;
}
.home_p{
    color: white;
    width: 90vw;
    text-align: left;
    font-size: 22px;
    line-height: 3rem;
}
.category_container{
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}
.catagory_heading{
    text-align: center;
    margin: 20px;
    color: royalblue;
    font-size: 40px;
}
.category_card{
    border-radius: 25px;
    box-shadow: 1px 1px 10px grey;
    margin: 30px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.category_card:hover {
    transition: 1s;
    background-color: royalblue;
}
.category_card:hover .icon i{
    transition: 1s;
    color: #fff;
}
.category_card:hover .name h5{
    transition: 1s;
    color: #fff;
}

.icon i {
    font-size: 45px;
    margin:20px
}
.name h5{
    color: royalblue;
    font-size: 19px;
}


.content{
    font-size: 15px;
    font-family: "poppins",monospace;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.fa-solid{
    z-index: 1;
    color: royalblue;
    font-size: 18px;
}
.fa-solid:hover{
    cursor: pointer;
    transition: 1s;
    transform: translateX(5px);
}
.navbar-respo{
    display: none;
}

@media only screen and (max-width: 710px) {
    .navbar{
        display: none;
    }
    
    .fa-solid{
        font-size: 18px;
    }
    .content{
        font-size: 15px;
    }
    .company_name{
        text-align: left;
        margin: 0px;
        font-size:19px;
    }
    .home_h1{
        margin-top: 1vh;
        width: 90vw;
        font-size: 33px;
        line-height: 3rem;
        color: white;
    }
    .home_p{
        color: white;
        width: 90vw;
        text-align: left;
        font-size: 14px;
        line-height: 2rem;
    }
    .category_card{
        margin: 20px;
        height: 100px;
        width: 150px;
        box-shadow: 1px 1px 10px grey;
    
    }
    
    .icon i {
        font-size: 25px;
        margin:10px
    }
    .name h5{
        font-size: 15px;
    }
    .catagory_heading{
        font-size: 37px;
    }
    .navbar-respo{
        margin: 7px auto;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 90vw;

    }
    .navlinks_respo{
        display: flex;
        justify-content: space-around;
        margin: 0.6rem;
        list-style: none;
        text-align: center;
    }
    .navlinks_respo a{
        font-size: 16px;
        text-decoration: none;
        list-style: none;

    }
    .main_container{
        height: 80vh;
        justify-content: center;
    }
    .background_video{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

/*about us section*/
.about--us {
  margin: 20px;
  color: royalblue;
}
.hero-section {
  position: relative;
  line-height: 0;
  width: auto;
}
.hero-image-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}
.hero-text {
  position: absolute;
  top:30%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  height: fit-content;
  width: fit-content;
  line-height: normal;
}
.hero-text h1{
  font-size: 50px;
  font-weight: 1000px;
  font-style: italic;
  color: white;
}
.hero-text h2{
  color: white;
  font-weight: normal;
  font-size: 30px;
  font-style: italic;
}
#intro {
  display: flex;
  position: absolute;
  bottom: 20%;
  left: 10%;
  right: 10%;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  line-height: normal;
  height: fit-content;
  background-color: rgba(255, 255, 255, 1);
  padding: 30px 20px;
}
#intro h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.layer {
  display: none;
}
@media screen and (max-width:1220px) {
  .hero-section {
      overflow-x: hidden;
  }
  .hero-text {
      top: 30%;
      left: 50%;
      background-color: rgba(0, 0, 0, 0.5);
  }
  .hero-text h1{
      font-size: 40px;
      font-weight: 800;
      font-style: italic;
      color: white;
  }
  .hero-text h2{
      color: white;
      font-weight: normal;
      font-size: 24px;
      font-style: italic;
  }
  .hero-image-container img {
      max-width: 100%;
      min-height: 400px;
      object-fit: cover;
      vertical-align: middle;
      font-style: italic;
      background-repeat: no-repeat;
      background-size: cover;
      shape-margin: 1rem;
  }
  #intro {
      position: absolute;
  }
}

/* foooter design */

.footermain{
    
    padding: 40px 0px;
    height: 60vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.footer_top{
    display: flex;
    justify-content: space-evenly;
    
}
.footer_img{
    width: 400px;
}
.Quick_links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 30px;
}
.quicklink{
    margin:4px 0px ;
    text-align: left;
    list-style: none;
    display: flex;
   
}
.quicklink a{
    font-size: 15px;
}
.quicklink_head{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: royalblue;
}
.footer_categories{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.footer_cat{
    margin:4px 0px ;
    text-align: left;
    list-style: none;
    display: flex;
   
}
.footer_cat a{
    font-size: 15px;
}
.footer_cat_head{ 
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: royalblue;
}
/* .fa-location-dot{
    font-size: 24px;
    display: block;
} */
.adress{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.adress p{
    font-size: 13px;
    color: royalblue;
}
.add_text{
    text-align: left;
}
.footer_bottom{
    height: 30vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;
}
.social_media{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social_media_icon{
    margin: 20px;
    align-items: center;
    font-size: 35px;
   
}
.contact_mail i{
    font-size: 22px;
    color: royalblue;
}

@media only screen and (max-width: 710px) {


.footer_img{
    width: 300px;
}
.footer_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}



.Quick_links {
    display: flex;
    flex-direction: column;
    
}
.footer_categories {
    display: flex;
    flex-direction: column;
   
}
.footer{
    margin: 0px 30px;
    text-align: left;
    height: 100vh;
}
.Quick_links{
    margin-bottom: 30px;
}
.footer_categories{
    margin-bottom: 30px;
}
.adress{
    margin-bottom: 20px;
    text-align: left;
}
.footer_bottom{
    height: 50vh;
}
.copyright{
    margin-bottom: 30px;
}
.social_media{
    margin: 30px;
}

}

/* product showing */

.viewproduct{
    height: 100vh;
}
.product_img{
    width: 400px;

}
.viewproduct{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.product_name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
   background-color: lightblue;

}
.product_h1{
    font-size: 40px;
    font-weight: 600;
}
.product{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
   
}
.product_image{
    display: flex;
    align-items: center;
}
.product_content{
    display: flex;
    flex-direction: column;
    width: 40vw;
    text-align: left;
    align-items: center;
}
.p_name{
    color: royalblue;
    font-size: 32px;
    margin: 30px 0px;
}
.p_subname{
    line-height: 30px;
    margin: 20px 0px;
}
.product_hr{
    width: 300px;
}


@media only screen and (max-width: 710px) {
    .product{
        display: flex;
        flex-direction: column;
    }
    
.p_name{
    color: royalblue;
    font-size: 22px;
    margin: 30px 0px;
}

.p_subname{
    font-size: 14px;
    line-height: 30px;
    margin: 20px 0px;
}
.product_hr{
    width: 150px;
}
.product_content{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 70vw;
    text-align: left;
    align-items: center;
}
.product_img{
    width: 280px;

}
.product_name{
   
    height: 100px;
  

}
.product_h1{
    font-size: 28px;
    font-weight: 600;
}

}

.p_head{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 40px auto;

}
.p_head_h1{
    font-size: 44px;
    color: #14013c;
}
.product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.product_card{
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    border: 2px solid lightblue;
    
}
.product_card:hover{
    box-shadow: 0px 0px 15px grey;
    transition: .5s;
}

.main_product_img{
    width: 250px;

}
.main_p_h1{
    color: royalblue;
}

@media only screen and (max-width: 710px){
    .product_card{
        width: 250px;
        height: 300px;
    }   
    .p_head_h1{
    font-size: 37px;
    color: #14013c;
    }
    .main_p_h1{
        font-size: 17px;
    }
}

/* team css */


  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
  }
  
  .outer-container {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: rgb(244, 252, 255);
  }
  
  .inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  .section-head-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(0, 135, 177);
    margin: 0 0 10px 0;
  }
  
  .section-subhead-text {
    font-size: 25px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
  }
  
  .name {
    font-size: 25px;
    font-weight: 700;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .position {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 135, 177);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .team-img {
    margin: 15px;
    border-radius: 10px;
    width: 250px;
    height: 270px;
  }
  
  .team-card-container {
    width: 280px;
    margin: 0 0 40px 0;
  }
  
  @media (max-width: 500px) {
    .outer-container {
      padding: 10px 20px 10px 20px;
    }
  
    .section-head-text {
      text-align: center;
    }
  }

 

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}