*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "poppins";
    caret-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

input{
  caret-color: black;
}

body{
  margin-top: 100px;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* whatsapp chat */
.whatsapp-chat #whatsapp-icon .fa-whatsapp {
  position: absolute;
}

.whatsapp-chat .fa-whatsapp {
  color: white;
  font-size: 30px;
}

#whatsapp-icon:active {
  animation: rotate-fade 700ms linear 0ms 1 normal both;
}

.whatsapp-chat #chat-box .fa-whatsapp {
  font-size:25px;
  margin-right: 8px;
}

.whatsapp-chat .fa-arrow-right {
  color: white;
  margin-left: 5px;
  animation: whatsapp-chat 1s ease-in 0ms infinite alternate both;
}

.whatsapp-chat .fa-xmark {
  font-size: 22px;
  color: white;
  opacity: 10;
  position: absolute;
  animation: none;
}

.whatsapp-chat #whatsapp-icon {
  background-color: #25d366;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  border: none;
}

#chat-box {
  background-color:#ece5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  display: normal;
  position: fixed;
  z-index: 1001;
  bottom: 75px;
  display: none;
  right: 20px;
  animation: chat-motion 150ms linear 0ms 1 normal both;
}

.whatsapp-chat #chat-box h3 {
  color: white;
}

.whatsapp-chat #chat-box .chat-header {
  background-color: #25d366;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}

.whatsapp-chat #chat-box .chat-body {
  padding: 0 80px 0 10px;
}

.whatsapp-chat #chat-box .chat-body p {
  background-color: white;
  color: #607080;
  margin: 10px 0;
  border-radius: 4px 20px 19px 19px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#chat-box .chat-button {
  display: flex;
  justify-content:right;
  width: 100%;
}

#chat-box .chat-button button {
  border-radius: 15px;
  color: white;
  background-color: #35897e;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-right: 12px;
  box-shadow: 0px 5px 1px #075e54;
}

@keyframes whatsapp-chat {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(5px);
  }
}

@keyframes  rotate-fade {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes chat-motion {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 10;
    transform: translateY(0);
  }
}

/* email compose */
.email-box #emial-icon .fa-envelope {
  position: absolute;
}

.email-box .fa-envelope {
  color: white;
  font-size: 30px;
}

#email-icon:active {
  animation: rotate-fade 700ms linear 0ms 1 normal both;
}

.email-box #email-inbox .fa-envelope {
  font-size:25px;
  margin-right: 8px;
}

.email-box .fa-arrow-right {
  color: white;
  margin-left: 5px;
  animation: whatsapp-chat 1s ease-in 0ms infinite alternate both;
}

.email-box .fa-xmark {
  font-size: 22px;
  color: white;
  opacity: 10;
  position: absolute;
  animation: none;
}

#email-icon i, .inbox-header i{
  font-size: 22px;
  color: white;
}

.inbox-header i{
  margin-right: 5px;
}

.compose-button i{
  font-size: 15px;
  color: white;
  margin-right: 5px;
  animation: shaker 1s ease-in-out 0ms infinite normal both;
}

@keyframes shaker {
  33%{
    transform: rotate(-15deg);
  }
  66%{
    transform: rotate(10deg);
  }
}

.email-box #email-icon {
  background-color: #ff4343;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  bottom: 75px;
  right: 20px;
  border: none;
}

#email-inbox {
  background-color:#ece5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  display: normal;
  position: fixed;
  z-index: 1000;
  bottom: 130px;
  display: none;
  right: 20px;
  animation: chat-motion 150ms linear 0ms 1 normal both;
}

.email-box #email-inbox h3 {
  color: white;
}

.email-box #email-inbox .inbox-header {
  background-color: #ff4343	;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}

.email-box #email-inbox .inbox-body p {
  background-color: #9999997e;
  color: rgb(10, 10, 10);
  padding: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.inbox-body p span{
  margin-left: 10px;
}

#email-inbox .compose-button {
  display: flex;
  justify-content:right;
  width: 100%;
}

#email-inbox .compose-button button {
  border-radius: 15px;
  color: white;
  background-color: #ff5d5d;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-right: 12px;
  box-shadow: 0px 5px 1px #ff4343;
}

@keyframes whatsapp-chat {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(5px);
  }
}

@keyframes  rotate-fade {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes chat-motion {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 10;
    transform: translateY(0);
  }
}



.nav{
    position: fixed;
    top: 0;
    background-color: #ffff;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around; 
    text-align: center;
    margin: 0px auto;
    box-shadow: 0px 0px 5px rgba(100, 98, 98, 0.356);
    z-index: 1000;
}

.navbar{
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.nav .dropdown {
  height: fit-content;
  width: 160px;
  transform: translateX(-50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  color: #14013c;
  font-size: medium;
  border-radius: 3px;
  position: absolute;
  top: 19px;
  background-color: #13103e;
  left: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  display: none;
}

.nav a{
  font-weight: 500;
}

.nav .dropdown a {
  color: white;
}

.nav #product-dropdown {
  position: relative;
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin: 0 30px;
  z-index: 1002;
}

.nav #product-dropdown #product-links {
  color: #14013c;
}

.nav #product-dropdown:hover .dropdown, .nav .dropdown:hover{
  display: block;
}

.nav #product-dropdown .dropdown a{
  width: 100%;
}

.nav .dropdown .category {
  list-style: none;
  padding: 10px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.308);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .dropdown .category:hover {
  background-color: white;
}

.nav .dropdown .category:hover a{
  color: #13103e;
}

.navlinks a{
    color: #14013c;
    margin: 0px 30px;
    text-decoration: none;
}

 /* nav hover effect */
 .navbar  .navlinks a {
  position: relative;
  transition: all 400ms;
}

.navbar .navlinks a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #14013c;
  height: 2px;
}

.navbar  .navlinks a:hover:after {
  width: 100%;
  transition: all 400ms;
 
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.logo img{
    height: 77px;
}

.catalogue{
    display: flex;
    align-items: center;
    text-align: center;
}

.catalogue_btn{
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    background: linear-gradient(to left, #13103e 50%, #fff 50%)right;
    background-size: 200% 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s;
    color: white;
    background-color: none;
    font-size: medium;
    font-weight: bold;
}

#home-cat-div{
  display: flex;
  align-items: center;
  text-align: center;
}

#home-cat{
  margin-top: 30px;
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  background: linear-gradient(to left, #13103e 50%, #fff 50%)right;
  background-size: 200% 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
  color: white;
  background-color: none;
  font-size: medium;
  font-weight: bold;
}

#home-cat:hover {
  background-position: 0 100%;
  color: #14013c;
  background-position: left;
}

#home-cat:active{
  transform: scale(1.1);
}

/* navbar respo */
.navbar-respo{
  margin: 7px auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: fit-content;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
  background-color: #fafafa;
  position: absolute;
  display: none;
  top: 0;
  right: -303px;
  border-radius: 12px;
  animation: navbar-motion 300ms linear 0ms 1 normal both;
  z-index: 1000;
}

.navbar-respo a{
  width: 100%;
}

.nav-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.nav-links {
  background-color: #13103e;
  border-radius: 0 0 12px 12px;
}

.nav-links a {
  color: white;
}

.navlinks_respo:hover{
  background-color: white;
}

.navlinks_respo:hover a{
  color: #14013c;
}

.navlinks_respo{
    display: flex;
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    justify-content: space-around;
    border-radius: 12px;
    list-style: none;
    text-align: center;
}

#hamburger-menu {
  display: none;
}

@keyframes navbar-motion {
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(-303px);
  }
}

@keyframes navbar-motion-rev {
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(320px);
  }
}

/* home content */

.main_container{
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(rgba(239, 238, 245, 0.3),rgba(218, 217, 223, 0.3));
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.background_video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .background_video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .background_video{
        width: auto;
        height: 100%;    
    }
}

@media screen and (max-width:900px) {
  .background_video{
    object-fit: cover;
    object-position: center;
  }
}

.company_name{
  color: #0b0121;
  font-size: 49px;

}
.home_h1{
    text-align: left;
    margin-top: 30vh;
    width: 85vw;
    font-size: 43px;
    line-height: 4rem;
    color: rgb(242, 242, 243);
}
.home_p{
    color: rgb(254, 254, 255);
    width: 50vw;
    text-align: left;
    font-size: 22px;
    line-height: 3rem;
    font-weight: 400;
}
.category_container{
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.catagory_heading{
    text-align: center;
    margin: 13px;
    color:  #14013c;
    font-size: 40px;
}
.category_card{
    border-radius: 25px;
    box-shadow: 1px 1px 10px grey;
    margin: 30px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.category_card:hover {
    transition: 400ms;
    background-color: #13103e;
}
.category_card:hover .icon i{
    transition: 1s;
    color: #fff;
}
.category_card:hover .name h5{
    transition: 1s;
    color: #fff;
}

.icon i {
    font-size: 45px;
    margin:20px
}
.name h5{
    color: #13103e;
    font-size: 18px;
}

.content{
    font-size: 15px;
    font-family: "poppins",monospace;
    font-weight: 400;
}

a{
    text-decoration: none;
}
.fa-solid{
    z-index: 1;
    color: #13103e;
    font-size: 18px;
}

.nav select {
  border: none;
  text-decoration: none;
}

@media only screen and (max-width: 1300px) {

    #hamburger-menu {
      display: block;
    }

    .nav .dropdown {
      display: none;
    }

    .navbar-respo {
      display: none;
    }

    .navbar{
        display: none;
    }
    
    .dropdown-respo {
      display: block;
    }

    .fa-solid{
        font-size: 18px;
    }
    .content{
        font-size: 15px;
    }
    .company_name{
        text-align: left;
        margin: 0px;
        font-size:26px;
    }
    .home_h1{
        margin-top: 1vh;
        width: 90vw;
        font-size: 33px;
        line-height: 3rem;
        color: rgb(24, 4, 48);
    }
    .home_p{
        
        width: 90vw;
        text-align: left;
        font-size: 14px;
        line-height: 1.5rem;
    }
    .category_card{
        margin: 15px;
        height: 100px;
        width: 150px;
        box-shadow: 1px 1px 10px grey;
    
    }
    
    .icon i {
        font-size: 25px;
        margin:10px
    }
    .name h5{
        font-size: 15px;
    }
    .medical_category_h5 h5{
      font-size: 13px;
    }
    .catagory_heading{
        font-size: 37px;
    }
 
    .navlinks_respo a{
        font-size: 16px;
        text-decoration: none;
        list-style: none;

    }
    .main_container{
        height: 80vh;
        justify-content: center;
    }
    .background_video{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .catalogue{
      display: none;
    }
}

/* About us */
.about--us  {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  box-sizing: none;
  margin: 50px;
}

.about--us .image-container {
  width: 50%;
  height: fit-content;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.about--us .image-container img {
  width: 100%;
  object-position: bottom;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 40vh;
  height: fit-content;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: #333;
  padding: 20px;
  border-radius: 12px;
}

@media screen and (max-width:1000px) {

  

  .about--us {
    flex-direction: column;
    position: static;
    margin: 0;
    height: fit-content;
  }

  hr{
    margin: 0 10vw;
  }

  .about--us .image-container {
    position: static;
    width: 85%;
    border-radius: 12px 12px 0 0;
  }

  .about--us .image-container img {
    border-radius: 12px 12px 0 0;
  }

  .about--us .about-us-text {
    position: static;
    border-radius: 0 0 12px 12px;
    width: 85%;
  }
}

/* foooter design */

/* sister companies */

.sister-companies img{
  display: block;
  max-width: 200px;
}

@media only screen and (max-width:450px) {
  .home{
    background-image: url(media/Fallback_img.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .home_p{
    color: #14013c;
    
  }
  .sister-companies img{
    max-width: 150px;
  }
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sister-companies{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.companies-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footermain{
    padding: 40px 0px;
    height: 60vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.footerlogo{
  margin-bottom: 20px;
}

.footer_top{
    display: flex;
    justify-content: space-evenly;
    
}


.footer_img{
    height: 77px;
width: auto;
}


.Quick_links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 30px;
}
.quicklink{
    margin:4px 0px ;
    text-align: left;
    list-style: none;
    display: flex;
   
}
.quicklink a{
    font-size: 15px;
}
.quicklink_head{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #13103e;
}
.Quick_links li a {
  position: relative;
  transition: all 2s;
}
.Quick_links  li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #14013c;
  height: 2px;
}

.Quick_links  li a:hover:after {
  width: 100%;
  transition: all 1s;
 
}
.footer_categories{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}


.footer_cat{
    margin:4px 0px ;
    text-align: left;
    list-style: none;
    display: flex;
   
}
.footer_cat a{
    font-size: 15px;
}
.footer_cat_head{ 
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #13103e;
}

footer .work-time{
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: start;
  flex-direction: column;
}

footer .work-time i{
  margin-top: 28px;
}

footer .work-time p{
  color: #14013c;
  font-size: medium;
}

footer .work-time .time-period{
  color: #14013c;
  font-size: small;
  padding-bottom: 10px;
}

/* footerlink hover */
.footer_categories li a {
  position: relative;
  transition: all 400ms;
}
.footer_categories li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #14013c;
  height: 2px;
}

.footer_categories  li a:hover:after {
  width: 100%;
  transition: all 400ms;
 
}

/* .fa-location-dot{
    font-size: 24px;
    display: block;
} */
.adress{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
}
.adress p{
    font-size: 13px;
    color: #13103e;
}
.add_text{
    text-align: left;
}
.footer_bottom{
    height: 30vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;
}
.social_media{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social_media_icon{
    margin: 20px;
    align-items: center;
    font-size: 35px;
   
}
.contact_mail i{
    font-size: 22px;
    color: #13103e;
}

.footermain{
  background-color: white;
}

.footer-links{
  padding-left: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 60%;
}

@media only screen and (max-width: 800px) {

footer .work-time{
  align-items: start;
}

.footer_img{
    height: 50px;
}

.footer-links{
  display: flex;
  flex-direction: column;
}

.footer_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: white;
}



.Quick_links {
    display: flex;
    flex-direction: column;
    
}
.footer_categories {
    display: flex;
    flex-direction: column;
   
}
.footer{
    text-align: left;
    height: 100vh;
    background-color: white;
}
.Quick_links{
    padding-bottom: 30px;
}

.footer_categories{
    padding-bottom: 30px;
}
.adress{
    padding-bottom: 20px;
    text-align: left;
    background-color: white;
}
.footer_bottom{
    height: 50vh;
    background-color: white;
    width: 100%;
}
.copyright{
    padding-bottom: 30px;
}
.social_media{
    padding: 30px;
}



}

/*  showing */

.viewproduct{
    height: 100vh;
}
.product_img{
    height: 250px;

}
.viewproduct{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.product_name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
   background-color: lightblue;

}
.product_h1{
    font-size: 40px;
    font-weight: 600;
}
.product{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 30px;
  padding: 30px;
  /* margin: 0 10%; */

}
.product_image{
    display: flex;
    align-items: center;
}
.product_content{
    display: flex;
    flex-direction: column;
    width: 40vw;
    text-align: left;
    align-items: center;
}
.p_name{
    color: #13103e;
    font-size: 32px;
    margin: 30px 0px;
}
.p_subname{
    line-height: 30px;
    margin: 20px 0px;
}
.product_hr{
    width: 300px;
}


@media only screen and (max-width: 710px) {
    .product{
        /* display: flex;
        flex-direction: column; */
    }
    
.p_name{
    color: #13103e;
    font-size: 22px;
    margin: 30px 0px;
}

.p_subname{
    font-size: 14px;
    line-height: 30px;
    margin: 20px 0px;
}
.product_hr{
    width: 150px;
}
.product_content{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 70vw;
    text-align: left;
    align-items: center;
}
.product_img{
  height: 250px;
  width: 200px;
}
.product_name{
   
    height: 100px;
  

}
.product_h1{
    font-size: 28px;
    font-weight: 600;
}

}

.p_head{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 40px auto;

}
.p_head_h1{
    font-size: 44px;
    color: #14013c;
}
.product{
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; */

}

/* fast selling product conatainer */
.home-product-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  margin: 20px;
}

@media screen and (max-width : 600px) {
  .home-product-container{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.product_card{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d3d2d2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.product_card:hover{
    box-shadow: 0px 0px 20px grey;
    transition: .5s;
}

.main_product_img{
  padding-top: 15px;
    width: 250px;
    height: 260px;

}
.main_p_h1{
  margin: 20px;
    color: #13103e;
}
.product_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

@media only screen and (max-width: 710px){
      
    .p_head_h1{
    font-size: 37px;
    color: #14013c;
    }
    .main_p_h1{
        font-size: 17px;
    }
}

/* team css */
.teamcontainer{
  margin-top: 50px;
  background-color:#f5f5f5;
  padding-bottom: 65px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.teamcontainer h1{
  color: #222;
}

#team-description{
  max-width: 60%;
}

.team_h1{
  font-size: 40px;

}
.team_upper{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.team_members{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.team_card{
  margin-top: 50px;
  /* box-shadow: 0px 0px 2px grey; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  width: 300px;
  /* border-radius: 10px; */
  border: none;
}
.team_card:hover{
  box-shadow: 0px 0px 5px rgb(202, 200, 200);
  transition: 2s;
  transform: scale(1);
}
.team_img{
  width: 200px;
  border-radius: 80%;
}

.team_lower .team_img{
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  max-height: 200px;
}

.team_name_h6{
  font-size: 20px;
  text-align: center;
}

.teamdiv{
  margin-top: 50px;
}
.team_position{
  font-weight: 500;
  color: #595858;
  font-size: 19px;
  text-align: center;
  margin-bottom: 10px;
}

.team_upper_h1{
  color: #595858;
    font-size: 28px;
}


@media only screen and (max-width: 710px){

  .team_upper_h1{
    color: #595858;
      font-size: 24px;
  }
  .team_h1{
    font-size: 35px;
  
  }
  .team_name_h6{
    font-size: 16px;
  }
  .team_position{
    font-size: 13px;
  }
}

/* services */


.service_section {
  margin-bottom: 50px;
 
  width: 100%;
  display: grid;
  place-items: center;
}
.section-heading{
  font-size: 44px;
  color: #14013c;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #13103e 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
h4{
  text-align: center;
  margin: 40px 10px;
}
.service_p_center{
  text-align: center;
}
.column p {
  color: #575a7b;
  margin-left: 20px;
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
}


.icon-wrapper i {
  background-color: #13103e;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper i {
  background-color: #ffffff;
  color: #14013c;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  .service_section{
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
  .section-heading{
    font-size: 34px;
    color: #14013c;
  }
}
@media screen and (min-width: 992px) {
  .service_section{
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media only screen and (max-width: 710px){
  .section-heading{
    font-size: 34px;
    color: #14013c;
  }
  .service_section{
    margin-top: 30px;
  }
}

