*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "poppins";
}

/* whatsapp chat */
.whatsapp-chat #whatsapp-icon .fa-whatsapp {
  position: absolute;
}

.whatsapp-chat .fa-whatsapp {
  color: white;
  font-size: 30px;
}

#whatsapp-icon:active {
  animation: rotate-fade 1s linear 0ms 1 normal both;
}

.whatsapp-chat #chat-box .fa-whatsapp {
  font-size:25px;
  margin-right: 8px;
}

.whatsapp-chat .fa-arrow-right {
  color: white;
  margin-left: 5px;
  animation: whatsapp-chat 1s ease-in 0ms infinite alternate both;
}

.whatsapp-chat .fa-xmark {
  font-size: 22px;
  color: white;
  opacity: 10;
  position: absolute;
  animation: none;
}

.whatsapp-chat #whatsapp-icon {
  background-color: #25d366;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  border: none;
}

#chat-box {
  background-color:#dcf8c6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  display: normal;
  position: fixed;
  z-index: 1000;
  bottom: 90px;
  display: none;
  right: 20px;
  animation: chat-motion 150ms linear 0ms 1 normal both;
}

.whatsapp-chat #chat-box .chat-header {
  background-color: #25d366;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  width: fit-content;
  width: 100%;
}

.whatsapp-chat #chat-box .chat-body {
  padding: 0 80px 0 10px;
}

.whatsapp-chat #chat-box .chat-body p {
  background-color: white;
  color: #607080;
  margin: 10px 0;
  border-radius: 4px 20px 19px 19px;
  padding: 5px;
}

#chat-box .chat-button {
  display: flex;
  justify-content:right;
  width: 100%;
}

#chat-box .chat-button button {
  border-radius: 15px;
  color: white;
  background-color: #35897e;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-right: 12px;
  box-shadow: 0px 5px 1px #075e54;
}

@keyframes whatsapp-chat {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(5px);
  }
}

@keyframes  rotate-fade {
  10% {
    opacity: 10;
    transform: rotate(40deg);
  }

  20% {
    opacity: 6;
    transform: rotate(80deg);
  }

  30% {
    opacity: 4;
    transform: rotate(120deg);
  }

  40% {
    opacity: 2;
    transform: rotate(160deg);
  }
  50% {
    opacity: 5;
    transform: rotate(200deg);
  }

  60% {
    opacity: 7;
    transform: rotate(240deg);
  }

  70% {
    opacity: 9;
    transform: rotate(280deg);
  }

  80% {
    opacity: 10;
    transform: rotate(320deg);
  }

  to {
    opacity: 10;
    transform: rotate(360deg);
  }
}

@keyframes chat-motion {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  25% {
    opacity: 2.5;
    transform: translateY(60px);
  }
  50% {
    opacity: 5;
    transform: translateY(40px);
  }
  75% {
    opacity: 7.5;
    transform: translateY(20px);
  }
  to {
    opacity: 10;
    transform: translateY(0);
  }
}

/* home */
.home{
    overflow: hidden;
}
.nav{
    background-color: #ffff;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around; 
    text-align: center;
    margin: 0px auto;
    box-shadow: 0px 0px 5px rgba(100, 98, 98, 0.356);
}
.navbar{
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    list-style: none;


}
.navlinks a{
    color: #14013c;
    margin: 0px 30px;
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.logo img{
    width: 340px;
    height: 100px;
}
.catalogue{
    display: flex;
    align-items: center;
    text-align: center;
}

.catalogue_btn{
    background-color: #14013cb7;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

/* home content */

.main_container{
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(rgba(5, 1, 22, 0.1),rgba(5, 1, 15, 0.1));
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.background_video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .background_video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .background_video{
        width: auto;
        height: 100%;    
    }
}

.company_name{
    color: royalblue;
    font-size: 35px;
}
.home_h1{
    text-align: left;
    margin-top: 30vh;
    width: 85vw;
    font-size: 43px;
    line-height: 4rem;
    color: white;
}
.home_p{
    color: white;
    width: 90vw;
    text-align: left;
    font-size: 22px;
    line-height: 3rem;
}
.category_container{
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}
.catagory_heading{
    text-align: center;
    margin: 13px;
    color: royalblue;
    font-size: 40px;
}
.category_card{
    border-radius: 25px;
    box-shadow: 1px 1px 10px grey;
    margin: 30px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.category_card:hover {
    transition: 1s;
    background-color: royalblue;
}
.category_card:hover .icon i{
    transition: 1s;
    color: #fff;
}
.category_card:hover .name h5{
    transition: 1s;
    color: #fff;
}

.icon i {
    font-size: 45px;
    margin:20px
}
.name h5{
    color: royalblue;
    font-size: 19px;
}

.content{
    font-size: 15px;
    font-family: "poppins",monospace;
    font-weight: 400;
}

a{
    text-decoration: none;
}
.fa-solid{
    z-index: 1;
    color: royalblue;
    font-size: 18px;
}

.category_card .fa-solid:hover{
    cursor: pointer;
    transition: 1s;
    transform: translateX(5px);
}

.navbar-respo{
    position: -webkit-sticky;
    display: none;
    position: sticky;
    background-color: white;
    z-index: 1000;
    top: 0;
}

@media only screen and (max-width: 710px) {
    .navbar{
        display: none;
    }
    
    .fa-solid{
        font-size: 18px;
    }
    .content{
        font-size: 15px;
    }
    .company_name{
        text-align: left;
        margin: 0px;
        font-size:19px;
    }
    .home_h1{
        margin-top: 1vh;
        width: 90vw;
        font-size: 33px;
        line-height: 3rem;
        color: white;
    }
    .home_p{
        color: white;
        width: 90vw;
        text-align: left;
        font-size: 14px;
        line-height: 2rem;
    }
    .category_card{
        margin: 20px;
        height: 100px;
        width: 150px;
        box-shadow: 1px 1px 10px grey;
    
    }
    
    .icon i {
        font-size: 25px;
        margin:10px
    }
    .name h5{
        font-size: 15px;
    }
    .catagory_heading{
        font-size: 37px;
    }
    .navbar-respo{
        margin: 7px auto;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .navlinks_respo{
        display: flex;
        justify-content: space-around;
        margin: 0.6rem;
        list-style: none;
        text-align: center;
    }
    .navlinks_respo a{
        font-size: 16px;
        text-decoration: none;
        list-style: none;

    }
    .main_container{
        height: 80vh;
        justify-content: center;
    }
    .background_video{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

/* foooter design */

.footermain{
    
    padding: 40px 0px;
    height: 60vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.footer_top{
    display: flex;
    justify-content: space-evenly;
    
}
.footer_img{
    width: 400px;
}
.Quick_links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 30px;
}
.quicklink{
    margin:4px 0px ;
    text-align: left;
    list-style: none;
    display: flex;
   
}
.quicklink a{
    font-size: 15px;
}
.quicklink_head{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: royalblue;
}
.footer_categories{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.footer_cat{
    margin:4px 0px ;
    text-align: left;
    list-style: none;
    display: flex;
   
}
.footer_cat a{
    font-size: 15px;
}
.footer_cat_head{ 
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: royalblue;
}
/* .fa-location-dot{
    font-size: 24px;
    display: block;
} */
.adress{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.adress p{
    font-size: 13px;
    color: royalblue;
}
.add_text{
    text-align: left;
}
.footer_bottom{
    height: 30vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-evenly;
}
.social_media{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social_media_icon{
    margin: 20px;
    align-items: center;
    font-size: 35px;
   
}
.contact_mail i{
    font-size: 22px;
    color: royalblue;
}

@media only screen and (max-width: 710px) {


.footer_img{
    width: 300px;
}
.footer_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}



.Quick_links {
    display: flex;
    flex-direction: column;
    
}
.footer_categories {
    display: flex;
    flex-direction: column;
   
}
.footer{
    margin: 0px 30px;
    text-align: left;
    height: 100vh;
}
.Quick_links{
    margin-bottom: 30px;
}
.footer_categories{
    margin-bottom: 30px;
}
.adress{
    margin-bottom: 20px;
    text-align: left;
}
.footer_bottom{
    height: 50vh;
}
.copyright{
    margin-bottom: 30px;
}
.social_media{
    margin: 30px;
}

}

/* product showing */

.viewproduct{
    height: 100vh;
}
.product_img{
    width: 400px;

}
.viewproduct{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.product_name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
   background-color: lightblue;

}
.product_h1{
    font-size: 40px;
    font-weight: 600;
}
.product{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
   
}
.product_image{
    display: flex;
    align-items: center;
}
.product_content{
    display: flex;
    flex-direction: column;
    width: 40vw;
    text-align: left;
    align-items: center;
}
.p_name{
    color: royalblue;
    font-size: 32px;
    margin: 30px 0px;
}
.p_subname{
    line-height: 30px;
    margin: 20px 0px;
}
.product_hr{
    width: 300px;
}


@media only screen and (max-width: 710px) {
    .product{
        display: flex;
        flex-direction: column;
    }
    
.p_name{
    color: royalblue;
    font-size: 22px;
    margin: 30px 0px;
}

.p_subname{
    font-size: 14px;
    line-height: 30px;
    margin: 20px 0px;
}
.product_hr{
    width: 150px;
}
.product_content{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 70vw;
    text-align: left;
    align-items: center;
}
.product_img{
    width: 260px;
    height: 270px;

}
.product_name{
   
    height: 100px;
  

}
.product_h1{
    font-size: 28px;
    font-weight: 600;
}

}

.p_head{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 40px auto;

}
.p_head_h1{
    font-size: 44px;
    color: #14013c;
}
.product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.product_card{
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    border: none;
    box-shadow: 0px 0px 8px grey;
}
.product_card:hover{
    box-shadow: 0px 0px 20px grey;
    transition: .5s;
}

.main_product_img{
    width: 250px;
    height: 260px;

}
.main_p_h1{
    color: royalblue;
}

@media only screen and (max-width: 710px){
    .product_card{
        width: 250px;
        height: 300px;
    }   
    .p_head_h1{
    font-size: 37px;
    color: #14013c;
    }
    .main_p_h1{
        font-size: 17px;
    }
}

/* team css */
.teamcontainer{
  margin-top: 50px;
  background-color:white;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.team_h1{
  font-size: 40px;

}
.team_upper{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.team_members{
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.team_card{
  margin-top: 50px;
  /* box-shadow: 0px 0px 2px grey; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  width: 250px;
  /* border-radius: 10px; */
  border: none;
}
.team_card:hover{
  box-shadow: 0px 0px 5px rgb(202, 200, 200);
  transition: 2s;
  transform: scale(1);
}
.team_img{
  border-radius: 50%;
  width: 200px;
}
.team_name_h6{
  font-size: 20px;
}

.teamdiv{
  margin-top: 50px;
}
.team_position{
  font-weight: 500;
  color: #595858;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.team_upper_h1{
  color: #595858;
    font-size: 28px;
}


@media only screen and (max-width: 710px){

  .team_upper_h1{
    color: #595858;
      font-size: 24px;
  }
  .team_h1{
    font-size: 35px;
  
  }
  .team_name_h6{
    font-size: 16px;
  }
  .team_position{
    font-size: 13px;
  }
}


 


/* testimonial */

